@model IEnumerable<MultiForeignKeys.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForTypeOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForTypeTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForTypeThree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOne.TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeTwo.TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeThree.TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForTypeOne.DesignationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForTypeTwo.DesignationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForTypeThree.DesignationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
