@model MultiForeignKeys.Models.Designations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Designations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeType.TypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DesignationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
